@using Beautfy.Enums
@using Beautfy.Models.DataModels
@using Beautfy.Services
@inherits LayoutComponentBase

<div class="page">
    <main>

        @Body

    </main>
</div>
@code {
    //firts init

    
    
}