@inject NavigationManager Navigation

<div class="gallery-fix"></div>
<div class="header header-light">
    <a href="#" class="open-menu"><i class="fa fa-navicon"></i></a>
    <h3>Beautfy</h3>
   </div>
<div class="navigation navigation-light">
    <div class="navigation-scroll">
        <a href="" class="menu-item" @onclick="@(() => Navigation.NavigateTo("index"))"><i class="fa fa-star-o"></i><em>Anasayfa</em><i class="fa fa-circle"></i></a>
        <a href="" class="menu-item" @onclick="@(() => Navigation.NavigateTo("myrutinlist"))"><i class="fa fa-pencil"></i><em>Rutinlerim</em><i class="fa fa-circle"></i></a>
        <a href="" class="menu-item" @onclick="@(() => Navigation.NavigateTo("profile"))"><i class="fa fa-youtube-play"></i><em>Profil</em><i class="fa fa-circle"></i></a>
        <a href="" class="menu-item close-menu"><i class="fa fa-times-circle"></i><em>Kapat</em><i class="fa fa-circle"></i></a>
    </div>
</div>
<div class="navigation-overlay navigation-overlay-light"></div>

@code {
    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    //jquery selector ile function atamaları $(document).ready functıon ıle calısmıyor. blazor wasm lifecycle'ı nedeniyle buna izin vermiyor. bu nedenle ilgili scripte custom func yazılıp cagırılması gereken yerlerde ınvoke edıldı.
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("startboot");
    }
}