@page "/index"
@using Beautfy.Models.DataModels
@using Beautfy.Services
@inject NavigationManager Navigation
@inject RutinService rutinService


<NavMenu />

<div id="page-content" class="bg-1">
    <div id="page-content-scroll" class="" style="right: 0px;">

        <div class="decoration"></div>

        <div class="content">
            <div class="container heading-style">
                <h4 class="heading-title">Special Offers</h4>
                <i class="fa fa-star heading-icon"></i>
                <div class="line bg-black"></div>
                <p class="heading-subtitle">
                    Sizin için önerdiğimiz rutinler!
                </p>
            </div>

            <div class="store-items">
                @foreach (var item in rutinList)
                {
                    <div class="store-item">
                        <a href=""><img src="images/pictures/1.jpg" alt="img" @onclick="@(() => Navigation.NavigateTo("rutindetail/" + item.Id))"></a>
                        <strong>@item.Name</strong>
                        <em>@item.Period</em>
                        <em class="discount">@item.Cycle</em>
                    </div>
                }
              
                <div class="clear"></div>
            </div>

            <div class="decoration"></div>

        </div>

        <div class="content">
            <div class="decoration"></div>
        </div>

   <div class="footer">
        <p class="footer-strip">Copyright <span id="copyright-year"></span> Beautyf. All Rights Reserved</p>
   </div>
    <div class="footer-clear"></div>
    </div>
 
</div>

@code {
    //[Inject]
    //public IJSRuntime JSRuntime { get; set; }

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //        await JSRuntime.InvokeVoidAsync("startboot");
    //}
    List<RutinEntity> rutinList = new List<RutinEntity>();
    protected override async Task OnInitializedAsync()
    {
        rutinList = rutinService.GetAllRutins();
    }

}
