@page "/login"
@using Beautfy.Models.DataModels
@using Beautfy.Services

@inject UserService userService
@inject NavigationManager Navigation


<div id="page-content" class="bg-1">
    <div id="page-content-scroll" style="right: 0px;">
        <h3 class="header-mask header-mask-light">Beautfy</h3>

        <div class="content">
            <div class="decoration"></div>
            <div class="page-login full-bottom">
                <a href="#" class="page-login-logo"></a>
                <div class="container heading-style">
                    <h4 class="heading-title">Kullanıcı Bilgileri</h4>
                    <i class="fa fa-envelope-o heading-icon"></i>
                    <div class="line bg-black"></div>
                    <p class="heading-subtitle">
                        Sizden aldığımız bilgiler, yalnızca size daha iyi rutinler sunabilmemiz için kullanılıcaktır.
                    </p>
                </div>
                <input type="text" name="contactNameField" placeholder="Kullanıcı Adı" class="contactField requiredField" id="contactNameField" @bind="name">

                <input type="number" name="contactNameField1" placeholder="Yaş" class="contactField" id="age" @bind="age">

                <select class="contactField" @bind="gender">
                    <option value="0">Cinsiyet</option>
                    <option value="1">Erkek</option>
                    <option value="2">Kadın</option>
                </select>

                <select class="contactField" @bind="skinType">
                    <option value="0">Cilt Tipi</option>
                    <option value="1">Yağlı</option>
                    <option value="2">Kuru</option>
                </select>
                <div class="clear"></div>
                <a href="#" class="login-button button button-small button-green button-fullscreen full-bottom" @onclick="Save">Kaydet</a>
                <div class="decoration"></div>
                <div class="clear"></div>
            </div>
            <div class="decoration"></div>
        </div>

        <div class="footer">
            <p class="footer-strip">Copyright <span id="copyright-year">2022</span> Beautyf. All Rights Reserved</p>
        </div>
        <div class="footer-clear"></div>
    </div>
</div>
<a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i>Back to top</a>

<div id="mynano" style="width: 100%; height: 3px; z-index: 9999; top: 60px; float: left; position: fixed;"><div style="background-color: rgb(41, 128, 185); width: 0px; height: 100%; clear: both; transition: height 250ms ease 0s; float: left;"></div></div>

@code {

    string name;
    int age;
    string gender;
    string skinType;

    private void Save()
    {

        UserEntity user = new UserEntity()
            {
                Id = 1,
                Age = age,
                Gender = gender,
                SkinType = skinType,
                Name = name
            };

        userService.AddUser(user);

        Navigation.NavigateTo("index");
    }
}
