@page "/rutindetail"

<NavMenu />
<div id="page-content" class="bg-1">
    <div id="page-content-scroll" style="right: 0px;">
        <h3 class="header-mask header-mask-light">Beautfy</h3>
        <div class="content-strip">
            <div class="strip-content">
                <h4>Tasklist Page</h4>
                <p>Check them off your list!</p>
                <i class="fa fa-plus"></i> @* <i class="fa fa-check"></i> artı butonuna basınca rutin eklenecek eklendıkten sonra check ıkonu gozukecek*@
            </div>
            <div class="overlay"></div>
            <img class="preload-image" data-original="images/pictures/1.jpg" alt="img" src="images/pictures/1.jpg" style="display: block;">
        </div>

        <div class="content">
            <div class="decoration"></div>

            <div class="container no-bottom">
                <div class="one-half-responsive">
                    <h4>Tasklists with multiple colors.</h4>
                    <p>
                        The oldschool design of tasklists with green and grey for completed
                        like most native mobile applications offer
                    </p>
                    <a href="#" class="tasklist-item tasklist-red tasklist-completed">
                        <i class="fa fa-check"></i>
                        <h5>Prepare a Design</h5>
                    </a>
                    <a href="#" class="tasklist-item tasklist-green">
                        <i class="fa fa-check"></i>
                        <h5>Optimize for Mobiles</h5>
                    </a>
                    <a href="#" class="tasklist-item tasklist-blue tasklist-completed">
                        <i class="fa fa-check"></i>
                        <h5>Optimize for Tablets</h5>
                    </a>
                    <a href="#" class="tasklist-item tasklist-magenta">
                        <i class="fa fa-check"></i>
                        <h5>Use latest Trends</h5>
                    </a>
                    <a href="#" class="tasklist-item tasklist-orange">
                        <i class="fa fa-check"></i>
                        <h5>Design  User Experience</h5>
                    </a>
                    <a href="#" class="tasklist-item tasklist-yellow">
                        <i class="fa fa-check"></i>
                        <h5>Use Simple Coding</h5>
                    </a>
                    <a href="#" class="tasklist-item tasklist-gray">
                        <i class="fa fa-check"></i>
                        <h5>Document for Everyone</h5>
                    </a>
                    <a href="#" class="tasklist-item tasklist-dark tasklist-completed">
                        <i class="fa fa-check"></i>
                        <h5>Upload to ThemeForest</h5>
                    </a>
                    <div class="decoration"></div>
                </div>

            </div>

            <div class="decoration"></div>
        </div>

        <div class="footer">
            <div class="footer-socials no-bottom">
                <div class="clear"></div>
            </div>
            <p class="footer-strip">Copyright <span id="copyright-year">2022</span> Beautfy. All Rights Reserved</p>
        </div>
        <div class="footer-clear"></div>
    </div>
</div>

@code {

}
